<link rel="stylesheet" href="/css/users_layout.css" />
<h1>This is users page</h1>

<% if(user.id == profile_user.id){ %>
<form
  action="/users/update/<%= profile_user.id %>"
  method="post"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    value="<%= profile_user.name %>"
    placeholder="Your name"
    required
  />
  <input
    type="email"
    name="email"
    value="<%= profile_user.email %>"
    placeholder="Your email"
    required
  />
  <input type="file" name="avatar" placeholder="Profile-Picture" />
  <button type="submit">Update</button>
</form>
<%} else { %>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<%}%>

<script type="text/javascript" src="/js/users_layout.js"></script>
